.bioSection {
  background-color:  #000000 !important;
  padding: 40px 0;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #fafafa!important;
}

.bioContent {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bioBlock {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.bioBlock .bioText,
.bioBlock .bioImages {
  flex: 1;
}

.bioBlock .bioText {
  text-align: justify;
  background: rgba(0, 0, 0, 0.1); /* Fondo translúcido */
  padding: 15px;
  border-radius: 8px;
  color: white;
}

.bioImages {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  justify-content: center;
}

.icon {
  font-size: 1.5rem;
  color: #555;
  transition: color 0.3s;
}

.icon:hover {
  color: var(--primary-color);
}

.blockReverse {
  flex-direction: row-reverse; /* Invierte el orden de los elementos */
}

@media (max-width: 768px) {
  .bioBlock {
    flex-direction: column;
  }

  .bioBlock .bioText {
    text-align: center;
  }
}
