.demosSection {
  padding: 80px 0;
  background-color: black;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: white;
}

.demoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 15px;
}

.demoCard {
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  height: 200px; /* Altura ajustada */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.demoCard:hover {
  transform: scale(1.03);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 70%; /* Proporción ajustada */
}

.imageContainer img, .imageContainer div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.demoTitle {
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 1rem;
}

.expandedOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.expandedModalContent {
  background-color: black;
  width: 90%;
  max-width: 1000px;
  height: 100%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.expandedImageContainer {
  width: 100%;
  height: 80%; /* Ocupa el 80% de la altura */
  position: relative;
}

.expandedAudioPlayerWrapper {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expandedDemoTitle {
  text-align: center;
  color: white;
  margin-top: 20px;
  font-size: 1.5rem;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
