.demosSection {
  padding: 80px 0;
  background-color: black;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: white;
}

.demoGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 15px;
}

.demoCard {
  background-color: black;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  cursor: pointer;
  height: 250px; /* Altura fija para todas las demos */
}

.demoCard:hover {
  transform: scale(1.03);
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 60%; /* Ajusta la altura proporcionalmente */
}

.imageContainer img, .imageContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.audioPlayerWrapper {
  width: 100%;
  margin-top: 10px; /* Espacio entre imagen y reproductor */
  display: flex;
  justify-content: center;
  align-items: center;
}

.demoTitle {
  text-align: center;
  color: white;
  margin-top: 10px; /* Espacio entre reproductor y título */
  font-size: 1rem;
}

.expandedOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.expandedModalContent {
  background-color: black;
  width: 100%;
  max-width: 1000px;
  height: 80%;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.expandedImageContainer {
  width: 100%;
  height: 50%; /* La mitad del modal */
  position: relative;
}

.expandedImageContainer img, .expandedImageContainer video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expandedAudioPlayerWrapper {
  width: 100%;
  height: 50px; /* Mismo tamaño que la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.expandedDemoTitle {
  text-align: center;
  color: white;
  margin-top: 20px; /* Espacio después del reproductor */
  font-size: 1.5rem;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.closeButton:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Media Queries */
@media (max-width: 1200px) {
  .demoGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .demoGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .demoGrid {
    grid-template-columns: 1fr;
  }
}
