.expandableSection {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  overflow: visible;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  position: relative;
  transform-origin: top; /* La expansión parte de la parte superior */
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0;
  min-height: 80px;
}

.titleText {
  flex: 1;
  padding-right: 10px;
  white-space: normal;
  overflow: visible;
}

.title:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.arrow {
  transition: transform 0.3s ease;
  flex-shrink: 0;
  font-size: 1rem;
}

.expandedArrow {
  transform: rotate(180deg);
}

.contentWrapper {
  position: absolute;
  bottom: 100%; /* Aparece arriba de la sección principal */
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out, transform 0.3s ease-out;
  z-index: 10;
  transform: translateY(100%); /* Comienza fuera del contenedor */
}

.expanded .contentWrapper {
  max-height: 1000px;
  transform: translateY(0); /* Se desplaza hacia su posición original */
}

.content {
  padding: 1rem;
  color: #fff;
}

.content p {
  margin: 0;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .title {
    font-size: 1rem;
    min-height: 60px;
  }

  .contentWrapper {
    position: static;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .expanded .contentWrapper {
    max-height: 1000px;
  }
}
