.homeSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: black;
  background-image: url('/A-25.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  color: white;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  padding-top: 80px;
  z-index: 0;
}

.homeSection.visible {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
  flex: 1;
  opacity: 0;
  transition: opacity 1s ease-in-out 0.5s;
  padding: 0 40px 80px; /* Ajusta posición por encima de los botones */
}

.content.fadeIn {
  opacity: 1;
}

.content.blurredText {
  filter: blur(5px);
  transition: filter 0.5s ease;
}

.textContent {
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 1.6;
}

.description {
  margin: 0;
  position: relative; /* Para ajustar la posición */
  top: -3px; /* Elevar 3px */
  text-align: left; /* Alinear a la izquierda */
  margin-left: -20px; /* Mover más hacia la izquierda */
}

.expandableSections {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-top: auto;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-in-out 1s, transform 1s ease-in-out 1s;
}

.expandableSections.fadeInUp {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 769px) {
  .expandableSections {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .expandableSections {
    grid-template-columns: 1fr;
  }
}
